.cm-editor {
  height: 100%;
  padding: 5px;
}

pre.CodeMirror-line > span {
  /* all below, to handle really long JWTs */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* css-3 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  /* white-space: normal; */
}

.cm-jwt-header {
  color: #fb015b;
}

.cm-jwt-payload {
  color: #b100ff;
}

.cm-jwt-iv {
  color: #ff948a;
}

.cm-jwt-key {
  color: #89bb86;
}

.cm-jwt-signature,
.cm-jwt-authtag {
  color: #00b9f1;
}
